.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;

}

.tab-pane
{
    -fx-tab-min-width:150px;

}

.tab-content-area
{
    -fx-background-image: url("/tab_bg.jpg");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 1000 800;
    -fx-background-position: center center;
    -fx-background-opacity: 0.5;
}
.tab{
    -fx-background-insets: 0 1 0 1,0,0;



}
.tab-pane .tab
{
    -fx-background-color: rgb(0,42,92);

}

.tab-pane .tab:selected
{
    -fx-background-color: rgb(0,123,83);
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
}

.hbox {
    -fx-background-color: rgb(0,123,83);
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

.hbox1 {
    -fx-background-color: rgb(0,123,83);
    -fx-padding: 5;
    -fx-spacing: 10;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}


#hbox-custom {
    -fx-padding: 8;
    -fx-background-radius: 5.0; 
}
.button {
    -fx-text-fill: whitesmoke;
    -fx-border-color: #E14A18;
    -fx-border-radius: 5;
    -fx-padding: 5 5 5 5;
    -fx-font: 16px Arial;

}
.root{
    -fx-background-image: url("/tab_bg.jpg");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 1000 800;
    -fx-background-position: center center;
    -fx-background-opacity: 0.5;
    -fx-font: 16px Arial;
    -fx-font-smoothing-type: lcd;
    -fx-base:#E14A18;
    -fx-background: rgb(229, 227, 223); 
}
